@font-face {
	font-family: 'BioRhyme';
	src: url('BioRhyme-ExtraBold.eot');
	src: local('BioRhyme-ExtraBold'),
		url('../fonts/BioRhyme-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BioRhyme-ExtraBold.woff2') format('woff2'),
		url('../fonts/BioRhyme-ExtraBold.woff') format('woff'),
		url('../fonts/BioRhyme-ExtraBold.ttf') format('truetype'),
		url('../fonts/BioRhyme-ExtraBold.svg#BioRhyme-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}
body{
  font-family: 'BioRhyme', serif;
}
header{
  display: flex;
  justify-content: center;
	background-color: mediumseagreen;
	color: white;
}
footer{
	background-color: mediumseagreen;
	color: white;
	text-align: center;
}
li{
  list-style: none;
  padding: 5px;
  color: deepskyblue;
}
h2{
  color: deeppink;
}
h3{
  color: mediumorchid;
}
ul{
  padding-left: 10px;
}
button{
	display: none;
	margin-left: 30%;
	margin-bottom: 20px;
	border-radius: 20%;
	height: 30px;
  width: 60px;
	background-color: pink;
	font-family: 'BioRhyme', serif;
}
span{
	font-size: 13px;
}
a{
	color: white;
}
.container{
  display: flex;
}
.fruits-container{
	display: flex;
}
.banana{
  width: 100px;
  height: 100px;
  background-image: url("../images/banana.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.apple{
  width: 100px;
  height: 100px;
  background-image: url("../images/apple.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

}
.carrot{
  width: 100px;
  height: 100px;
  background-image: url("../images/carrot.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.kiwi{
  width: 100px;
  height: 100px;
  background-image: url("../images/kiwi.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.lemon{
  width: 100px;
  height: 100px;
  background-image: url("../images/lemon.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.orange{
  width: 100px;
  height: 100px;
  background-image: url("../images/orange.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.pear{
	width: 100px;
  height: 100px;
  background-image: url("../images/pear.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.blender{
  width: 80%;
  height: 500px;
  background-image: url("../images/blender.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0px;
}
.click{
  padding-top: 300px;
  margin-left: 0px;
  color: red;
}
.box-left{
  width: 30%;
}
.box-middle{
  width: 50%;
  display: flex;
}
.box-right{
  width: 20%;
}
@keyframes shake {
  0% {
    transform: skewX(0);
  }
  20% {
    transform: skewX(10deg);
  }
  80% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(0);
  }
}
.shaking {
  animation-name: shake;
  transform-origin: bottom;
  animation-duration: 50ms;
  animation-iteration-count: 5;
}
.nutritions {
  display: none;
}
