body{
  font-family: 'Exo 2', sans-serif;
}
header{
  display: flex;
  justify-content: center;
}
li{
  list-style: none;
  padding: 5px;
}
button{
  margin-left: 50%;
}
ul{
  padding-left: 10px;
}
.container{
  display: flex;
}
.fruits{
  width: 10%
}
.banana{
  width: 100px;
  height: 100px;
  background-image: url("../images/banana.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.apple{
  width: 100px;
  height: 100px;
  background-image: url("../images/apple.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

}
.carrot{
  width: 100px;
  height: 100px;
  background-image: url("../images/carrot.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.kiwi{
  width: 100px;
  height: 100px;
  background-image: url("../images/kiwi.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.lemon{
  width: 100px;
  height: 100px;
  background-image: url("../images/lemon.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.orange{
  width: 100px;
  height: 100px;
  background-image: url("../images/orange.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.blender{
  width: 80%;
  height: 500px;
  background-image: url("../images/blender.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0px;
}
.click{
  padding-top: 300px;
  margin-left: 0px;
}
.box-left{
  width: 30%;
}
.box-middle{
  width: 50%;
  display: flex;
}
.box-right{
  width: 20%;
}
@keyframes shake {
  0% {
    transform: skewX(0);
  }
  20% {
    transform: skewX(10deg);
  }
  80% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(0);
  }
}
.shaking {
  animation-name: shake;
  transform-origin: bottom;
  animation-duration: 50ms;
  animation-iteration-count: 5;
}
.nutritions {
  display: none;
}
